<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Test App</title>
</head>
<body>
    <h1>Application Insights Java Test App</h1>
    <a href="/log?name=Log_Test_1">Log test</a> <br>
    <a href="/dependency?name=Dependency_Test_1">Dependency test 1</a> <br>
    <a href="/dependency?name=Dependency_Test_2&url=https%3A%2F%2Fwww.microsoft.com%2F">Dependency test 2 (www.microsoft.com)</a> <br>
    <a href="/exception?name=Exception_Test_1">Exception test</a> <br>
</body>
</html>